# 03 - 订单与订阅相关表探索

目标：探索订单和订阅相关的5张表结构、数据量和关键字段分布。

**目标表**: `` `order` ``, `subscribe`, `set_meal`, `order_amount_info`, `cloud_info`

In [1]:
import sys
sys.path.insert(0, '..')

from src.db.connector import DBConnector
from config.db_config import BRAND_DB_MAP
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_rows', 50)

/Users/petercheng/Library/Python/3.9/lib/python/site-packages/paramiko/pkey.py:82: CryptographyDeprecationWarning: TripleDES has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.TripleDES and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  "cipher": algorithms.TripleDES,
/Users/petercheng/Library/Python/3.9/lib/python/site-packages/paramiko/transport.py:253: CryptographyDeprecationWarning: TripleDES has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.TripleDES and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  "class": algorithms.TripleDES,

In [2]:
# 要探索的表
ORDER_TABLES = ['`order`', 'subscribe', 'set_meal', 'order_amount_info', 'cloud_info']

## 1. 建立连接

In [3]:
db = DBConnector(brand='osaio')
db.connect()
print(f'已连接: {db.database}')

已连接: bi_center

## 2. OSAIO (bi_center) - 表探索

In [4]:
def explore_table(db, table_name):
    """探索单张表的结构、数据量、样本和关键字段分布"""
    display_name = table_name.strip('`')
    print(f"\n{'='*70}")
    print(f"表: {display_name}")
    print('='*70)
    
    try:
        # 字段结构
        desc = db.query_df(f'DESCRIBE {table_name}')
        print(f"\n--- 字段结构 ({len(desc)} 列) ---")
        display(desc)
        
        # 数据量
        count = db.query_df(f'SELECT COUNT(*) as cnt FROM {table_name}')
        print(f"\n--- 数据量: {count['cnt'].iloc[0]:,} 行 ---")
        
        # 样本数据
        sample = db.query_df(f'SELECT * FROM {table_name} LIMIT 10')
        print(f"\n--- 样本数据 (前10行) ---")
        display(sample)
        
        # 关键字段值分布
        print(f"\n--- 关键字段值分布 ---")
        for col in desc['Field']:
            # 对 status, type, description 等分类字段做值分布
            if any(kw in col.lower() for kw in ['status', 'type', 'description', 'currency', 'platform', 'unit']):
                try:
                    dist = db.query_df(f'SELECT `{col}`, COUNT(*) as cnt FROM {table_name} GROUP BY `{col}` ORDER BY cnt DESC LIMIT 20')
                    print(f"\n  [{col}] 值分布 (top 20):")
                    display(dist)
                except Exception as e:
                    print(f"  [{col}] 查询失败: {e}")
        
        return count['cnt'].iloc[0]
    except Exception as e:
        print(f"查询失败: {e}")
        return 0

In [5]:
# OSAIO: 探索所有订单相关表
osaio_counts = {}
for table in ORDER_TABLES:
    cnt = explore_table(db, table)
    osaio_counts[table.strip('`')] = cnt

======================================================================
表: order
======================================================================

--- 字段结构 (26 列) ---

,Field,Type,Null,Key,Default,Extra
0,uid,varchar(20),NO,MUL,None,
1,id,int unsigned,NO,PRI,None,auto_increment
2,uuid,varchar(64),NO,MUL,,
3,appid,varchar(16),NO,MUL,,
4,order_id,varbinary(60),NO,MUL,None,
5,account,varchar(320),NO,,None,
6,subscribe_id,varchar(20),NO,MUL,,
7,product_id,varchar(50),NO,MUL,,
8,status,tinyint unsigned,NO,,0,
9,description,varchar(1024),NO,,,
10,pay_type,tinyint unsigned,NO,MUL,0,
11,is_sub,tinyint unsigned,NO,,0,
12,is_test,tinyint unsigned,NO,,0,
13,product_name,varchar(255),NO,,None,
14,amount,"decimal(10,2) unsigned",NO,,None,
15,transaction_fee,"decimal(10,2)",YES,,None,
16,currency,char(3),NO,,None,
17,submit_time,int unsigned,NO,,0,
18,pay_time,int,NO,MUL,0,
19,paypal_token,varchar(50),NO,,,
20,redirect_url,varchar(2000),NO,,,
21,notify_url,varchar(2000),NO,,,
22,payer_id,varchar(50),NO,MUL,None,
23,created_at,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
24,updated_at,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP
25,partner_code,varchar(32),NO,MUL,,

--- 数据量: 672,678 行 ---

--- 样本数据 (前10行) ---

,uid,id,uuid,appid,order_id,account,subscribe_id,product_id,status,description,pay_type,is_sub,is_test,product_name,amount,transaction_fee,currency,submit_time,pay_time,paypal_token,redirect_url,notify_url,payer_id,created_at,updated_at,partner_code
0,497eef498a2f3a59,1,f8d79257b86f238dd83fc3098d83e377,e95fb28bdf38b904,b'18cb5a4e48e311eb99f5067a3e6cf430',,,168e285b48de11eb99f5067a3e6cf430,0,,4,0,0,,0.1,0.0,,1609142577,0,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,
1,497eef498a2f3a59,2,f8d79257b86f238dd83fc3098d83e377,e95fb28bdf38b904,b'68f925f748e311eb99f5067a3e6cf430',,,168e285b48de11eb99f5067a3e6cf430,0,,4,0,0,,0.1,0.0,,1609142712,0,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,
2,497eef498a2f3a59,3,ea28d8b7ea3299ec0fdf408e30585e9b,e95fb28bdf38b904,b'193685ea509411eb94590a3be2346914',,,,1,FREE_TRIAL,6,0,0,,0.0,0.0,,1609988257,1609988257,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,
3,497eef498a2f3a59,4,e7025c5e4decf920a976ad53da6a6aa6,e95fb28bdf38b904,b'e745748e817e11eb89060a3be2346914',,,,1,FREE_TRIAL,6,0,0,,0.0,0.0,,1615366761,1615366761,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,
4,31cff23c67ab5310,5,f3f34b6a9589e54b2270f6871f6929e1,e95fb28bdf38b904,b'71fc9d8d1ce811eca7f20a044883c176',,,310950b548de11eb99f5067a3e6cf430,0,,4,0,0,,0.1,0.0,,1632454521,0,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,
5,31cff23c67ab5310,6,f3f34b6a9589e54b2270f6871f6929e1,e95fb28bdf38b904,b'a374899b1ce811eca7f20a044883c176',,,310950b548de11eb99f5067a3e6cf430,0,,4,0,0,,0.1,0.0,,1632454604,0,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,
6,31cff23c67ab5310,7,f3f34b6a9589e54b2270f6871f6929e1,e95fb28bdf38b904,b'8d0820f21ce911eca7f20a044883c176',,,783e06dd8d4911eb93c0067a3e6cf430,0,,4,0,0,,3.4,0.0,,1632454995,0,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,
7,31cff23c67ab5310,8,f3f34b6a9589e54b2270f6871f6929e1,e95fb28bdf38b904,b'de4199da1ce911eca7f20a044883c176',,,783e06dd8d4911eb93c0067a3e6cf430,0,,4,0,0,,3.4,0.0,,1632455132,0,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,
8,31cff23c67ab5310,9,f3f34b6a9589e54b2270f6871f6929e1,e95fb28bdf38b904,b'0d0b446d1cea11eca7f20a044883c176',,,783e06dd8d4911eb93c0067a3e6cf430,0,,4,0,0,,3.4,0.0,,1632455210,0,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,
9,31cff23c67ab5310,10,f3f34b6a9589e54b2270f6871f6929e1,e95fb28bdf38b904,b'c71673921cea11eca7f20a044883c176',,,783e06dd8d4911eb93c0067a3e6cf430,0,,4,0,0,,3.4,0.0,,1632455522,0,,,,,2024-03-11 03:14:40,2024-03-11 03:14:40,

--- 关键字段值分布 ---

  [status] 值分布 (top 20):

   status     cnt
0       1  597725
1       0   72756
2       6    1455
3       5     692
4       4      50

  [description] 值分布 (top 20):

                      description     cnt
0                                  557667
1                      FREE_TRIAL   49929
2                   Trial: 14 DAY   46727
3               Promotion: 14 DAY   10404
4             merge payment order    4371
5              FreeCloud: 99 Year    1024
6                      后台:46 指定开通     531
7                      后台:97 指定开通     299
8                         upgrade     198
9                          升级重复扣费     175
10                    后台:110 指定开通     171
11                           AB套餐     141
12  后台: sunlijun@apemans.com 指定开通     119
13                    后台:115 指定开通      93
14                    后台:154 指定开通      65
15                     后台:33 指定开通      56
16                     后台:29 指定开通      53
17                         后台: 退款      50
18  后台: liuxiuyu@apemans.com 指定开通      50
19                     后台:72 指定开通      47

  [pay_type] 值分布 (top 20):

   pay_type     cnt
0        21  327974
1         4  163012
2        23  121728
3         6   50953
4         3    7166
5         0    1652
6         5     193

  [currency] 值分布 (top 20):

  currency     cnt
0      GBP  297456
1      EUR  232142
2           141206
3      USD    1517
4      CAD     357

======================================================================
表: subscribe
======================================================================

--- 字段结构 (22 列) ---

,Field,Type,Null,Key,Default,Extra
0,id,int,NO,PRI,None,auto_increment
1,subscribe_id,varchar(50),NO,MUL,,
2,uid,varchar(20),NO,,,
3,product_id,varchar(50),NO,MUL,,
4,payment_cycles,tinyint unsigned,NO,,0,
5,amount,"decimal(10,2)",NO,,None,
6,discount_ratio,"float(6,2)",NO,,1.00,
7,currency,char(3),NO,,,
8,cycles_unit,"enum('DAY','WEEK','MONTH','YEAR','')",NO,,DAY,
9,cycles_time,tinyint unsigned,NO,,0,
10,file_time,int,NO,,0,
11,is_event,tinyint,NO,,0,
12,level,tinyint(1),NO,,0,
13,status,tinyint unsigned,NO,,0,
14,initial_payment_time,int unsigned,NO,,0,
15,remain_cycles,int unsigned,NO,,0,
16,next_billing_at,int,NO,,0,
17,create_time,int,NO,,0,
18,cancel_time,int,NO,MUL,0,
19,service,varchar(256),NO,,,
20,cloud_type,tinyint,NO,,0,
21,support_dev_num,tinyint,NO,,1,

--- 数据量: 116,067 行 ---

--- 样本数据 (前10行) ---

,id,subscribe_id,uid,product_id,payment_cycles,amount,discount_ratio,currency,cycles_unit,cycles_time,file_time,is_event,level,status,initial_payment_time,remain_cycles,next_billing_at,create_time,cancel_time,service,cloud_type,support_dev_num
0,1,,,061b78e7959a11ea83c612a3c079152e,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:3,is_event:0}",0,1
1,2,,,4c6ea624959a11ea83c612a3c079152e,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:7,is_event:0}",0,1
2,3,,,5da9d053959a11ea83c612a3c079152e,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:15,is_event:0}",0,1
3,4,,,72677070959a11ea83c612a3c079152e,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:30,is_event:0}",0,1
4,5,,,8d377096959a11ea83c612a3c079152e,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:15,is_event:0}",0,1
5,6,,,a31a1f5c959a11ea83c612a3c079152e,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:30,is_event:0}",0,1
6,7,,,efd4430495af11ea83c612a3c079152e,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:7,is_event:0}",0,1
7,8,,,057ac5ab95b011ea83c612a3c079152e,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:3,is_event:0}",0,1
8,9,,,8ad655d49a6d11ea8aeb067a3e6cf430,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:2,is_event:0}",0,1
9,10,,,b7757655a18b11ea8aeb067a3e6cf430,0,0.0,1.0,,DAY,0,0,0,0,0,0,0,0,0,1672686215,"{file_time:3,is_event:0}",0,1

--- 关键字段值分布 ---

  [currency] 值分布 (top 20):

  currency    cnt
0      GBP  69595
1      EUR  45854
2      USD    401
3             184
4      CAD     33

  [cycles_unit] 值分布 (top 20):

  cycles_unit     cnt
0              104946
1         DAY   10366
2       MONTH     452
3        YEAR     303

  [status] 值分布 (top 20):

   status    cnt
0       0  84349
1       1  31718

  [cloud_type] 值分布 (top 20):

   cloud_type     cnt
0           0  115308
1           1     759

======================================================================
表: set_meal
======================================================================

--- 字段结构 (18 列) ---

              Field           Type Null  Key Default Extra
0              code       char(32)   NO  PRI    None
1              name   varchar(225)   NO            0
2              time            int   NO            0
3         file_time            int   NO            0
4             price  decimal(10,2)   NO         None
5         saleprice  decimal(10,2)   NO         None
6            status        tinyint   NO            0
7       create_time            int   NO            0
8       update_time            int   NO            0
9            cycles            int   NO           12
10        time_unit    varchar(12)   NO          DAY
11           expire            int   NO            0
12        func_code           json   NO         None
13          explain  varchar(1000)   NO
14         is_event        tinyint   NO            0
15         currency     varchar(5)   NO         None
16            level     tinyint(1)   NO            0
17  support_dev_num        tinyint   NO            1

--- 数据量: 289 行 ---

--- 样本数据 (前10行) ---

,code,name,time,file_time,price,saleprice,status,create_time,update_time,cycles,time_unit,expire,func_code,explain,is_event,currency,level,support_dev_num
0,01091985fe2a8587d1a6fa38eafd9b01,AB Testing-Platinum yearly-,1,30,0.0,0.0,0,1764557172,1764557172,0,YEAR,0,[],,1,,14,-1
1,04ddc7037a5c1643e4b70b8e7511e446,14-day video history CVR recording monthly,1,14,0.0,0.0,1,1691996478,1691996491,0,MONTH,0,[],,0,,2,1
2,04ed76df8d4311eb927412a3c079152e,15-Day EVENT PLAYBACK,30,15,3.0,1.0,3,1590747572,1590747575,12,DAY,0,null,,1,USD,0,1
3,057ac5ab95b011ea83c612a3c079152e,3-Day PLAYBACK,30,3,5.0,2.9,3,1589439386,1589439388,12,DAY,0,null,,0,EUR,0,1
4,061b78e7959a11ea83c612a3c079152e,3-Day Playback Yearly Plan,12,3,50.0,30.0,3,1589429938,1589429941,1,MONTH,0,null,,0,EUR,0,1
5,0633a438e089b327fcb7d8bb723cbaa5,14-day Event(Yearly),1,14,19.0,19.0,1,1651301978,1665627347,1,YEAR,0,[],,1,USD,0,1
6,0728aebd2f14536cfea6e3ebb933307c,AB Testing-Platinum monthly,1,30,0.0,0.0,0,1764554853,1764554853,0,MONTH,0,[],,1,,14,-1
7,086fbb3fb0975730fb58f12943108afc,for testing 7-day CVR monthly,1,7,0.0,0.0,3,1690267095,1691982232,0,MONTH,0,[],,0,,1,1
8,089e7eeda19511ea8aeb067a3e6cf430,15-Day EVENT PLAYBACK,30,15,3.0,1.0,3,1590747205,1590747209,12,DAY,0,null,,1,EUR,0,1
9,095dddffa18c11ea8aeb067a3e6cf430,15-Day Playback Yearly Plan,12,15,160.0,88.0,1,1590743341,1665627846,1,MONTH,0,null,,0,EUR,0,1

--- 关键字段值分布 ---

  [status] 值分布 (top 20):

   status  cnt
0       1  114
1       0   90
2       3   74
3       2   11

  [time_unit] 值分布 (top 20):

  time_unit  cnt
0     MONTH  138
1       DAY   84
2      YEAR   66
3      WEEK    1

  [currency] 值分布 (top 20):

  currency  cnt
0           177
1      USD   65
2      EUR   47

======================================================================
表: order_amount_info
======================================================================

--- 字段结构 (7 列) ---

,Field,Type,Null,Key,Default,Extra
0,order_int_id,int unsigned,NO,PRI,0,
1,model_code,varchar(32),NO,,,
2,amount_cny,"decimal(10,2) unsigned",NO,,None,
3,transaction_fee_cny,"decimal(10,2)",NO,,None,
4,exchange_rate,"decimal(10,2)",NO,,None,
5,created_at,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
6,updated_at,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

--- 数据量: 389,785 行 ---

--- 样本数据 (前10行) ---

,order_int_id,model_code,amount_cny,transaction_fee_cny,exchange_rate,created_at,updated_at
0,215326,K1_A3G1R1,46.08,4.68,767.99,2025-11-19 08:54:37,2025-11-19 08:54:37
1,222408,K1PRO_A4J6R1,47.16,4.79,785.92,2025-11-19 08:54:13,2025-11-19 08:54:13
2,223093,K1PRO_A4J6R1,47.16,4.79,785.92,2025-11-19 08:54:17,2025-11-19 08:54:17
3,223174,K1PRO_A4J6R1,47.16,4.79,785.92,2025-11-19 08:54:17,2025-11-19 08:54:17
4,243499,,23.68,3.19,789.33,2025-06-30 08:53:34,2025-06-30 08:53:34
5,243531,,23.68,3.19,789.33,2025-06-30 08:53:34,2025-06-30 08:53:34
6,243534,,23.68,3.19,789.33,2025-06-30 08:53:34,2025-06-30 08:53:34
7,243778,,82.70,5.79,918.87,2025-06-30 08:53:34,2025-06-30 08:53:34
8,247209,,55.61,4.61,926.88,2025-06-30 08:53:34,2025-06-30 08:53:34
9,249270,,55.27,4.59,921.25,2025-06-30 08:53:34,2025-06-30 08:53:34

--- 关键字段值分布 ---

======================================================================
表: cloud_info
======================================================================

--- 字段结构 (16 列) ---

,Field,Type,Null,Key,Default,Extra
0,id,int,NO,PRI,None,auto_increment
1,uid,varchar(20),NO,MUL,None,
2,uuid,varchar(40),NO,,None,
3,schema,varchar(255),NO,,None,
4,order_id,varchar(255),YES,MUL,None,
5,start_time,int,YES,,None,
6,end_time,int,YES,MUL,None,
7,file_time,int,YES,,None,
8,status,int,YES,,None,
9,status_msg,varchar(128),NO,,,
10,is_event,int,YES,,None,
11,is_delete,tinyint,NO,,0,
12,level,tinyint,NO,,0,
13,service,varchar(256),NO,,,
14,created_at,timestamp,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
15,updated_at,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

--- 数据量: 605,414 行 ---

--- 样本数据 (前10行) ---

,id,uid,uuid,schema,order_id,start_time,end_time,file_time,status,status_msg,is_event,is_delete,level,service,created_at,updated_at
0,1,497eef498a2f3a59,ea28d8b7ea3299ec0fdf408e30585e9b,,193685ea509411eb94590a3be2346914,1610017057,1611446400,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
1,2,497eef498a2f3a59,e7025c5e4decf920a976ad53da6a6aa6,,e745748e817e11eb89060a3be2346914,1615395561,1616803200,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
2,3,31cff23c67ab5310,f3f34b6a9589e54b2270f6871f6929e1,,admin_2021092406554920300268261,1632495349,1635120000,30,0,,0,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
3,4,580f234fee4bd4bd,e8ff29e385b47568a886e92e5ae05d37,,admin_202109301017057200271177,1633025825,1664582400,30,0,,0,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
4,5,c4e26934b3fcda3e,6ce2f1da5998a2aa77de55cb589af26c,,0cd7fcc1400911ec9047027a48cd9df2,1636320415,1637712000,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
5,6,68128ab0197d49a8,94f4a61b2e365af8c4ab139b6e185c45,,9cbadccf426e11ec9047027a48cd9df2,1636583938,1637971200,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
6,7,b33103b8600ec07a,06276758bf60fcd68401359a7716d901,,df80f26642ec11ec9047027a48cd9df2,1636638167,1638057600,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
7,8,7547032f792f32d3,16124e076b924f503df8d0b4e7d4109e,,8e92bd49448711eca7f20a044883c176,1636814878,1639526400,15,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
8,9,74d76396501f7b33,264ba6469b4d6187c113c24b50489403,,f397cadb46cf11ec9047027a48cd9df2,1637065550,1638489600,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
9,10,74d76396501f7b33,264ba6469b4d6187c113c24b50489403,,8f319cec46db11eca7f20a044883c176,1638489600,1641081600,15,0,,1,0,0,,2023-10-27 01:34:59,2024-04-11 09:26:50

--- 关键字段值分布 ---

  [status] 值分布 (top 20):

   status     cnt
0       0  355770
1       1  247479
2       2    2165

  [status_msg] 值分布 (top 20):

                          status_msg     cnt
0                                     604248
1  orderVerification check PayDenied    1166

### 2.1 OSAIO - order 表关键字段深入探索

In [6]:
# order 表 status 字段
print('=== order.status 分布 ===')
display(db.query_df('SELECT status, COUNT(*) as cnt FROM `order` GROUP BY status ORDER BY cnt DESC'))

# order 表 description 字段 (试用/付费识别)
print('\n=== order.description 分布 (top 30) ===')
display(db.query_df('SELECT description, COUNT(*) as cnt FROM `order` GROUP BY description ORDER BY cnt DESC LIMIT 30'))

# order 表 product_id 分布
print('\n=== order.product_id 分布 (top 20) ===')
display(db.query_df('SELECT product_id, COUNT(*) as cnt FROM `order` GROUP BY product_id ORDER BY cnt DESC LIMIT 20'))

=== order.status 分布 ===

   status     cnt
0       1  597725
1       0   72756
2       6    1455
3       5     692
4       4      50

=== order.description 分布 (top 30) ===

                      description     cnt
0                                  557667
1                      FREE_TRIAL   49929
2                   Trial: 14 DAY   46727
3               Promotion: 14 DAY   10404
4             merge payment order    4371
5              FreeCloud: 99 Year    1024
6                      后台:46 指定开通     531
7                      后台:97 指定开通     299
8                         upgrade     198
9                          升级重复扣费     175
10                    后台:110 指定开通     171
11                           AB套餐     141
12  后台: sunlijun@apemans.com 指定开通     119
13                    后台:115 指定开通      93
14                    后台:154 指定开通      65
15                     后台:33 指定开通      56
16                     后台:29 指定开通      53
17                         后台: 退款      50
18  后台: liuxiuyu@apemans.com 指定开通      50
19                     后台:72 指定开通      47
20                     后台:32 指定开通      46
21                     后台:21 指定开通      44
22                     后台:88 指定开通      32
23                     后台:42 指定开通      32
24                     后台:86 指定开通      29
25                     后台:31 指定开通      25
26                    后台:132 指定开通      23
27                     后台:98 指定开通      17
28                    后台:104 指定开通      15
29                     后台:30 指定开通      15

=== order.product_id 分布 (top 20) ===

                          product_id     cnt
0   2d45e3725a5340568d134b65d0c7caa2  218643
1   eb34f5845642ed10ab2d91703baf28e3   95033
2   18e75ca570f308d530eb2060928af51e   52040
3                                      49837
4   52b72d358d4811eb93c0067a3e6cf430   38091
5   25ef29e69266a18e4e62a9abfb24906e   34851
6   71d7bf50084b13308df8baa5d0ab67b4   32127
7   c9f452e0f08e80c1093a82616cc946a4   16868
8   d90d40f341f05593daf9d4c4702f8bee   16332
9   689860a9db2aac4e0375d2edbaf73faf   16306
10  83a762155aae410159f5b95d4b36e93b   14234
11  46d5b1d9dae111eaa280067a3e6cf430   11667
12  2eee928a8d4811eb93c0067a3e6cf430   10963
13  089e7eeda19511ea8aeb067a3e6cf430    8612
14  26fd8575dae111eaa280067a3e6cf430    5145
15  4ddd95b5a19511ea8aeb067a3e6cf430    4198
16  8590980d14c303bb7ef93bb30432901d    3936
17  783e06dd8d4911eb93c0067a3e6cf430    3925
18  511be650a18c11ea8aeb067a3e6cf430    3210
19  04ddc7037a5c1643e4b70b8e7511e446    3128

# subscribe 表关键字段分布
print('=== subscribe.status 分布 ===')
display(db.query_df('SELECT status, COUNT(*) as cnt FROM subscribe GROUP BY status ORDER BY cnt DESC'))

print('\n=== subscribe.cycles_unit 分布 ===')
display(db.query_df('SELECT cycles_unit, COUNT(*) as cnt FROM subscribe GROUP BY cycles_unit ORDER BY cnt DESC'))

print('\n=== subscribe.support_dev_num 分布 ===')
display(db.query_df('SELECT support_dev_num, COUNT(*) as cnt FROM subscribe GROUP BY support_dev_num ORDER BY cnt DESC'))

print('\n=== subscribe.currency 分布 ===')
display(db.query_df('SELECT currency, COUNT(*) as cnt FROM subscribe GROUP BY currency ORDER BY cnt DESC'))

In [7]:
# order_amount_info 关键字段
print('=== order_amount_info 金额统计 ===')
display(db.query_df("""
    SELECT 
           COUNT(*) as cnt,
           ROUND(AVG(amount_cny), 2) as avg_amount_cny,
           ROUND(MIN(amount_cny), 2) as min_amount_cny,
           ROUND(MAX(amount_cny), 2) as max_amount_cny,
           ROUND(AVG(transaction_fee_cny), 2) as avg_fee_cny
    FROM order_amount_info
    WHERE amount_cny > 0
"""))

=== order_amount_info 金额统计 ===

      cnt  avg_amount_cny  min_amount_cny  max_amount_cny  avg_fee_cny
0  364909           46.95             0.1         1133.55         3.91

In [8]:
# cloud_info 关键字段
print('=== cloud_info.status 分布 ===')
display(db.query_df('SELECT status, COUNT(*) as cnt FROM cloud_info GROUP BY status ORDER BY cnt DESC'))

print('\n=== cloud_info 样本 (含时间字段) ===')
display(db.query_df('SELECT * FROM cloud_info LIMIT 10'))

=== cloud_info.status 分布 ===

   status     cnt
0       0  355770
1       1  247479
2       2    2165

=== cloud_info 样本 (含时间字段) ===

,id,uid,uuid,schema,order_id,start_time,end_time,file_time,status,status_msg,is_event,is_delete,level,service,created_at,updated_at
0,1,497eef498a2f3a59,ea28d8b7ea3299ec0fdf408e30585e9b,,193685ea509411eb94590a3be2346914,1610017057,1611446400,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
1,2,497eef498a2f3a59,e7025c5e4decf920a976ad53da6a6aa6,,e745748e817e11eb89060a3be2346914,1615395561,1616803200,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
2,3,31cff23c67ab5310,f3f34b6a9589e54b2270f6871f6929e1,,admin_2021092406554920300268261,1632495349,1635120000,30,0,,0,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
3,4,580f234fee4bd4bd,e8ff29e385b47568a886e92e5ae05d37,,admin_202109301017057200271177,1633025825,1664582400,30,0,,0,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
4,5,c4e26934b3fcda3e,6ce2f1da5998a2aa77de55cb589af26c,,0cd7fcc1400911ec9047027a48cd9df2,1636320415,1637712000,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
5,6,68128ab0197d49a8,94f4a61b2e365af8c4ab139b6e185c45,,9cbadccf426e11ec9047027a48cd9df2,1636583938,1637971200,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
6,7,b33103b8600ec07a,06276758bf60fcd68401359a7716d901,,df80f26642ec11ec9047027a48cd9df2,1636638167,1638057600,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
7,8,7547032f792f32d3,16124e076b924f503df8d0b4e7d4109e,,8e92bd49448711eca7f20a044883c176,1636814878,1639526400,15,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
8,9,74d76396501f7b33,264ba6469b4d6187c113c24b50489403,,f397cadb46cf11ec9047027a48cd9df2,1637065550,1638489600,2,0,,1,0,0,,2023-10-27 01:34:59,2024-03-21 04:12:28
9,10,74d76396501f7b33,264ba6469b4d6187c113c24b50489403,,8f319cec46db11eca7f20a044883c176,1638489600,1641081600,15,0,,1,0,0,,2023-10-27 01:34:59,2024-04-11 09:26:50

### 2.2 OSAIO - 表关联关系验证

In [9]:
# 验证表关联关系 (使用子查询避免全表JOIN)
print('=== order → subscribe 关联验证 ===')
total = db.query_df("SELECT COUNT(*) as cnt FROM `order`")['cnt'].iloc[0]
matched = db.query_df("SELECT COUNT(*) as cnt FROM `order` o WHERE EXISTS (SELECT 1 FROM subscribe s WHERE s.subscribe_id = o.subscribe_id)")['cnt'].iloc[0]
print(f"  total_orders: {total:,}, matched_subscribe: {matched:,}, no_subscribe: {total-matched:,}")

print('\n=== order → set_meal 关联验证 ===')
matched = db.query_df("SELECT COUNT(*) as cnt FROM `order` o WHERE EXISTS (SELECT 1 FROM set_meal sm WHERE sm.code = o.product_id)")['cnt'].iloc[0]
print(f"  total_orders: {total:,}, matched_meal: {matched:,}, no_meal: {total-matched:,}")

print('\n=== order → order_amount_info 关联验证 ===')
matched = db.query_df("SELECT COUNT(*) as cnt FROM `order` o WHERE EXISTS (SELECT 1 FROM order_amount_info oai WHERE oai.order_int_id = o.id)")['cnt'].iloc[0]
print(f"  total_orders: {total:,}, has_amount: {matched:,}, no_amount: {total-matched:,}")

print('\n=== order → cloud_info 关联验证 ===')
matched = db.query_df("SELECT COUNT(*) as cnt FROM `order` o WHERE EXISTS (SELECT 1 FROM cloud_info ci WHERE ci.order_id = o.order_id)")['cnt'].iloc[0]
print(f"  total_orders: {total:,}, has_cloud: {matched:,}, no_cloud: {total-matched:,}")

=== order → subscribe 关联验证 ===

  total_orders: 672,678, matched_subscribe: 583,419, no_subscribe: 89,259

=== order → set_meal 关联验证 ===

  total_orders: 672,678, matched_meal: 622,841, no_meal: 49,837

=== order → order_amount_info 关联验证 ===

  total_orders: 672,678, has_amount: 389,785, no_amount: 282,893

=== order → cloud_info 关联验证 ===

  total_orders: 672,678, has_cloud: 597,420, no_cloud: 75,258

## 3. Nooie (nooie_bi_center) - 表探索

In [10]:
db.switch_database('nooie')
print(f'已切换到: {db.database}')

已切换到: nooie_bi_center

In [11]:
# Nooie: 探索所有订单相关表
nooie_counts = {}
for table in ORDER_TABLES:
    cnt = explore_table(db, table)
    nooie_counts[table.strip('`')] = cnt

======================================================================
表: order
======================================================================

--- 字段结构 (25 列) ---

,Field,Type,Null,Key,Default,Extra
0,uid,varchar(20),NO,MUL,None,
1,id,int unsigned,NO,PRI,None,auto_increment
2,uuid,varchar(64),NO,,,
3,appid,varchar(16),NO,MUL,,
4,order_id,char(32),NO,MUL,None,
5,account,varchar(320),NO,,None,
6,subscribe_id,varchar(20),NO,MUL,,
7,product_id,varchar(50),NO,MUL,,
8,status,tinyint unsigned,NO,,0,
9,description,varchar(1024),NO,,,
10,pay_type,tinyint unsigned,NO,MUL,0,
11,is_sub,tinyint unsigned,NO,,0,
12,is_test,tinyint unsigned,NO,,0,
13,product_name,varchar(255),NO,,None,
14,amount,"decimal(10,2) unsigned",NO,,None,
15,transaction_fee,"decimal(10,2)",NO,,None,
16,currency,char(3),NO,,None,
17,submit_time,int unsigned,NO,,0,
18,pay_time,int,NO,MUL,0,
19,paypal_token,varchar(50),NO,,,
20,redirect_url,varchar(2000),NO,,,
21,notify_url,varchar(2000),NO,,,
22,payer_id,varchar(50),NO,MUL,None,
23,created_at,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
24,updated_at,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

--- 数据量: 252,398 行 ---

--- 样本数据 (前10行) ---

,uid,id,uuid,appid,order_id,account,subscribe_id,product_id,status,description,pay_type,is_sub,is_test,product_name,amount,transaction_fee,currency,submit_time,pay_time,paypal_token,redirect_url,notify_url,payer_id,created_at,updated_at
0,1f6273eadb7f81fb,1,98644875b96ef6f17c70f812c6de7260,4adcd2139621b1ef,2019071603474569700000001,,0,f908d48a09bc83f8cbbaeaec0877683e,0,,4,1,0,3天存两天,0.15,0.0,EUR,1563248865,1563248865,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05
1,1f6273eadb7f81fb,2,98644875b96ef6f17c70f812c6de7260,4adcd2139621b1ef,2019071603475022800000001,,0,f908d48a09bc83f8cbbaeaec0877683e,0,,4,1,0,3天存两天,0.15,0.0,EUR,1563248870,1563248870,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05
2,1f6273eadb7f81fb,3,98644875b96ef6f17c70f812c6de7260,4adcd2139621b1ef,2019071603475691500000001,,0,f908d48a09bc83f8cbbaeaec0877683e,0,,4,1,0,3天存两天,0.15,0.0,EUR,1563248876,1563248876,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05
3,1f6273eadb7f81fb,4,98644875b96ef6f17c70f812c6de7260,4adcd2139621b1ef,2019071603523585700000001,,I-BT6CN8HJH3VC,f908d48a09bc83f8cbbaeaec0877683e,5,,4,1,1,3天存两天,0.15,0.0,EUR,1563249155,1563249155,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05
4,f6f5af4a2fdc291a,5,e902dfb5f3a724f5d8d307f1af802141,4adcd2139621b1ef,2019072217474493700000005,,I-46RXUGE1YM4D,31dbe5f12b27b58d50b2304cc00fd2d6,1,,4,1,0,7-Day PLAYBACK,0.10,0.0,EUR,1563817664,1563817664,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05
5,df1a35bae5eb974f,6,0cbc08f62fd9ce81804aed48e93f64dd,4adcd2139621b1ef,2019072217525956700000002,,I-LKP73UJJEBL3,31dbe5f12b27b58d50b2304cc00fd2d6,1,,4,1,0,7-Day PLAYBACK,0.10,0.0,EUR,1563817979,1563817979,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05
6,be3b40f74a6600dc,7,ea896b04eb26657529bf4114c74e1a77,4adcd2139621b1ef,admin_2019072606262939100000012,,0,61a50f5d3a3b961feca5158d838b2029,1,后台: nooie@apemans.com 指定开通,0,0,0,one month cloud experience,0.00,0.0,EUR,1564122389,1564122389,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05
7,ac46fa0f291c97e6,8,b4b4f00a7960a9127ca858db54ce3eb9,4adcd2139621b1ef,2019072612562491800000022,,0,31dbe5f12b27b58d50b2304cc00fd2d6,0,,4,1,0,7-Day PLAYBACK,0.10,0.0,EUR,1564145784,1564145784,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05
8,ac46fa0f291c97e6,9,b4b4f00a7960a9127ca858db54ce3eb9,4adcd2139621b1ef,2019072613412835900000022,,I-9497AYANSKGK,31dbe5f12b27b58d50b2304cc00fd2d6,1,,4,1,0,7-Day PLAYBACK,0.10,0.0,EUR,1564148488,1564148488,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05
9,f6f5af4a2fdc291a,10,308899e8717f82d0c86da209a3046228,4adcd2139621b1ef,2019073019145210900000005,,I-AF0NMSFM14BE,31dbe5f12b27b58d50b2304cc00fd2d6,1,,4,1,0,7-Day PLAYBACK,0.10,0.0,EUR,1564514092,1564514092,0,,,,2024-06-29 04:40:05,2024-06-29 04:40:05

--- 关键字段值分布 ---

  [status] 值分布 (top 20):

   status     cnt
0       1  222760
1       0   27376
2       6    1747
3       5     436
4       2      78
5       4       1

  [description] 值分布 (top 20):

                                          description     cnt
0                                                      150892
1       14 days Video History Event Recording Monthly   29100
2          3 days Video History CVR Recording Monthly   24036
3       30 days Video History Event Recording Monthly    7960
4           3 days Video History CVR Recording Annual    7515
5          7 days video history CVR recording monthly    6201
6                                       Trial: 14 DAY    5542
7        14 days Video History Event Recording Annual    5411
8   30 days video history event recording monthly pro    3913
9        30 days Video History Event Recording Annual    1784
10    14 days video history CVR recording monthly pro    1493
11                                  Promotion: 14 DAY    1481
12        14 days video history CVR recording monthly    1140
13                                                  0     677
14   30 days video history event recording Annual pro     671
15                               7-Day EVENT PLAYBACK     649
16                               Enable cloud storage     577
17                              14-Day EVENT PLAYBACK     422
18          7 days video history CVR recording annual     416
19                                     3-Day PLAYBACK     309

  [pay_type] 值分布 (top 20):

   pay_type     cnt
0         4  125090
1        21   65604
2        23   54819
3         3    5716
4         5     846
5         0     283
6         2      40

  [currency] 值分布 (top 20):

  currency     cnt
0      EUR  161006
1      GBP   89884
2      USD     992
3              463
4      CAD      53

======================================================================
表: subscribe
======================================================================

--- 字段结构 (16 列) ---

,Field,Type,Null,Key,Default,Extra
0,id,int,NO,PRI,None,auto_increment
1,subscribe_id,varchar(50),NO,MUL,,
2,product_id,varchar(50),NO,MUL,,
3,payment_cycles,tinyint unsigned,NO,,0,
4,amount,"decimal(10,2)",NO,,None,
5,discount_ratio,"float(6,2)",NO,,1.00,
6,currency,char(3),NO,,,
7,cycles_unit,"enum('DAY','WEEK','MONTH','YEAR','')",NO,,DAY,
8,cycles_time,tinyint unsigned,NO,,0,
9,status,tinyint unsigned,NO,,0,
10,initial_payment_time,int unsigned,NO,,0,
11,remain_cycles,int unsigned,NO,,0,
12,next_billing_at,int,NO,,0,
13,create_time,int,NO,,0,
14,cancel_time,int,NO,MUL,0,
15,service,varchar(256),NO,,,

--- 数据量: 80,199 行 ---

--- 样本数据 (前10行) ---

,id,subscribe_id,product_id,payment_cycles,amount,discount_ratio,currency,cycles_unit,cycles_time,status,initial_payment_time,remain_cycles,next_billing_at,create_time,cancel_time,service
0,1,I-SE3UWL8W500R,057ac5ab95b011ea83c612a3c079152e,12,2.0,1.0,EUR,DAY,30,1,0,12,0,1590742335,0,
1,2,I-MVWEB8CEEKYV,3f609177b06c11ea8aeb067a3e6cf430,12,5.0,1.0,EUR,DAY,30,1,0,12,0,1593337667,0,
2,3,I-WUM7WXGUFEVT,3f609177b06c11ea8aeb067a3e6cf430,12,5.0,1.0,EUR,DAY,30,1,0,12,0,1593339197,0,
3,4,I-MDJX8R3A30BY,3f609177b06c11ea8aeb067a3e6cf430,12,5.0,1.0,EUR,DAY,30,1,0,12,0,1593341452,0,
4,5,I-G3D4UPMA555F,30bddd24bd0b11ea85b7067a3e6cf430,12,1.0,1.0,EUR,DAY,30,1,0,12,0,1594027460,0,
5,6,I-LC5LHSKS2K2E,30bddd24bd0b11ea85b7067a3e6cf430,12,1.0,1.0,EUR,DAY,30,1,0,12,0,1594027625,0,
6,7,I-GEKY7J6S8BVR,97faa812bd0b11ea85b7067a3e6cf430,12,3.0,1.0,EUR,DAY,30,1,0,12,0,1594035729,0,
7,8,I-95ULDY2RTC1Y,97faa812bd0b11ea85b7067a3e6cf430,12,3.0,1.0,EUR,DAY,30,1,0,12,0,1594181581,0,
8,9,I-L4VCJ524D3LV,a1c668cabd0511ea85b7067a3e6cf430,12,2.0,1.0,EUR,DAY,30,0,1598522400,12,0,1595948054,1597335710,
9,10,I-GXHATPWK0J0Y,a1c668cabd0511ea85b7067a3e6cf430,12,2.0,1.0,EUR,DAY,30,0,1597917600,5,0,1595968511,1613472660,

--- 关键字段值分布 ---

  [currency] 值分布 (top 20):

  currency    cnt
0      EUR  61335
1      GBP  18608
2      USD    241
3      CAD     15

  [cycles_unit] 值分布 (top 20):

  cycles_unit    cnt
0         DAY  32105
1       MONTH  30714
2              13371
3        YEAR   4009

  [status] 值分布 (top 20):

   status    cnt
0       0  56155
1       1  24044

======================================================================
表: set_meal
======================================================================

--- 字段结构 (21 列) ---

               Field           Type Null  Key Default Extra
0               code       char(32)   NO  PRI    None
1               name   varchar(225)   NO            0
2               time            int   NO            0
3          file_time            int   NO            0
4              price  decimal(10,2)   NO         None
5          saleprice  decimal(10,2)   NO         None
6             status        tinyint   NO            0
7        create_time            int   NO            0
8        update_time            int   NO            0
9             cycles            int   NO           12
10         time_unit    varchar(12)   NO          DAY
11            expire            int   NO            0
12         func_code           json   NO         None
13           explain  varchar(1000)   NO
14          is_event        tinyint   NO            0
15          currency     varchar(5)   NO         None
16             level     tinyint(1)   NO            0
17   warranty_period        tinyint   NO            0
18  deduction_method        tinyint   NO            0
19            region        char(2)  YES         None
20      chargebee_id   varchar(255)  YES         None

--- 数据量: 241 行 ---

--- 样本数据 (前10行) ---

,code,name,time,file_time,price,saleprice,status,create_time,update_time,cycles,time_unit,expire,func_code,explain,is_event,currency,level,warranty_period,deduction_method,region,chargebee_id
0,,test---,1,1,100.0,100.00,0,1727083019,1727083017,0,MONTH,0,[],,0,,1,6,2,None,None
1,00f05a20d22e11eaa280067a3e6cf430,7-Day EVENT Playback Yearly Plan,12,7,30.0,10.00,1,1593766688,1681356421,1,MONTH,0,[],,1,,0,6,0,eu,None
2,01075163a90833b506a2a749e34c7984,15-Day Playback Yearly Plan,12,15,220.0,89.99,1,1576057985,1681356421,1,MONTH,0,[],,0,,0,6,0,eu,None
3,0248e52b531bb5573e8598d42e62947a,30 days Video History Event Recording Annual,12,30,50.0,40.00,3,1655458442,1655458442,12,MONTH,0,[],,1,,2,6,0,us,None
4,06a93ef5884718aec3b5f367a6e64cbb,14-day video history event recording monthly,1,14,3.0,3.00,2,1681454459,1727169904,12,MONTH,0,[],,1,,1,6,2,us,None
5,0945e7b182d3ae275e3696b9ffd472c0,30-day video history event recording monthly,1,30,0.0,0.00,0,1739955851,1739955851,0,MONTH,0,[],,1,,2,0,0,us,
6,0a27a0cab182a10448467ed49eaee5ff,1day_0601,1,1,1.0,1.00,0,1685604617,1685604616,0,DAY,0,[],,0,,1,6,2,cn,CHN-4S3WHuxtfLG
7,0e01bdc1519a9f94b75a445e7838148f,30 days Video History Event Recording Annual,12,30,72.0,49.00,0,1655463355,1727246640,12,MONTH,0,[],,1,,2,6,0,eu,None
8,0e47dcc9262058d7fc174d8d5960aec7,test007,1,1,1.0,1.00,3,1666768591,1666768699,12,WEEK,0,[],,1,,3,6,2,cn,None
9,0f8e4e48b4fb0218d48d182db63b499d,30 days video history event recording monthly,1,30,6.0,6.00,1,1681380045,1681464243,0,MONTH,0,[],,1,,2,6,2,eu,None

--- 关键字段值分布 ---

  [status] 值分布 (top 20):

   status  cnt
0       1  105
1       3   56
2       0   45
3       2   35

  [time_unit] 值分布 (top 20):

  time_unit  cnt
0     MONTH  149
1       DAY   82
2      YEAR    9
3      WEEK    1

  [currency] 值分布 (top 20):

  currency  cnt
0           240
1      USD    1

======================================================================
表: order_amount_info
======================================================================

--- 字段结构 (7 列) ---

,Field,Type,Null,Key,Default,Extra
0,order_int_id,int unsigned,NO,PRI,0,
1,model_code,varchar(32),NO,,,
2,amount_cny,"decimal(10,2) unsigned",NO,,None,
3,transaction_fee_cny,"decimal(10,2)",NO,,None,
4,exchange_rate,"decimal(10,2)",NO,,None,
5,created_at,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED
6,updated_at,timestamp,NO,,CURRENT_TIMESTAMP,DEFAULT_GENERATED on update CURRENT_TIMESTAMP

--- 数据量: 108,450 行 ---

--- 样本数据 (前10行) ---

,order_int_id,model_code,amount_cny,transaction_fee_cny,exchange_rate,created_at,updated_at
0,80985,IPC200A,221.85,12.47,765.01,2025-11-19 11:11:13,2025-11-19 11:11:13
1,83579,IPC200A,157.18,10.92,785.92,2025-11-19 11:10:08,2025-11-19 11:10:08
2,83819,IPC100D,157.18,10.92,785.92,2025-11-19 11:10:03,2025-11-19 11:10:03
3,83877,IPC300-CAM,76.65,6.82,766.54,2025-11-19 11:11:09,2025-11-19 11:11:09
4,88104,IPC200A,385.10,22.32,785.92,2025-11-19 11:10:12,2025-11-19 11:10:12
5,88437,IPC200A,385.10,22.32,785.92,2025-11-19 11:10:08,2025-11-19 11:10:08
6,92304,IPC200A,157.18,10.92,785.92,2025-11-19 11:10:08,2025-11-19 11:10:08
7,92652,IPC100B,78.59,6.99,785.92,2025-11-19 11:10:08,2025-11-19 11:10:08
8,92662,IPC100C,227.92,14.46,785.92,2025-11-19 11:10:08,2025-11-19 11:10:08
9,92809,IPC100B,225.23,14.29,776.64,2025-11-19 11:12:28,2025-11-19 11:12:28

--- 关键字段值分布 ---

======================================================================
表: cloud_info
======================================================================

--- 字段结构 (15 列) ---

         Field          Type Null  Key Default           Extra
0           id           int   NO  PRI    None  auto_increment
1          uid   varchar(20)   NO  MUL    None
2         uuid   varchar(32)   NO         None
3       schema  varchar(255)   NO         None
4     order_id      char(32)  YES  MUL    None
5   start_time           int  YES         None
6     end_time           int  YES         None
7    file_time           int  YES         None
8     is_event           int  YES         None
9       status           int  YES         None
10  status_msg  varchar(128)   NO
11   is_delete       tinyint   NO            0
12       level       tinyint   NO            0
13  created_at     timestamp  YES         None
14  updated_at     timestamp  YES         None

--- 数据量: 226,153 行 ---

--- 样本数据 (前10行) ---

,id,uid,uuid,schema,order_id,start_time,end_time,file_time,is_event,status,status_msg,is_delete,level,created_at,updated_at
0,1,1f6273eadb7f81fb,98644875b96ef6f17c70f812c6de7260,4adcd2139621b1ef,2019071603523585700000001,1563278079,1563580800,2,0,1,,0,0,None,None
1,2,f6f5af4a2fdc291a,e902dfb5f3a724f5d8d307f1af802141,4adcd2139621b1ef,2019072217474493700000005,1563824937,1566432000,7,0,0,,0,0,None,None
2,3,df1a35bae5eb974f,0cbc08f62fd9ce81804aed48e93f64dd,4adcd2139621b1ef,2019072217525956700000002,1563821632,1566432000,7,0,1,,0,0,None,None
3,4,be3b40f74a6600dc,ea896b04eb26657529bf4114c74e1a77,4adcd2139621b1ef,admin_2019072606262939100000012,1564129589,1569369600,7,0,0,,0,0,None,None
4,5,ac46fa0f291c97e6,b4b4f00a7960a9127ca858db54ce3eb9,4adcd2139621b1ef,2019072613412835900000022,1564155774,1566777600,7,0,0,,0,0,None,None
5,6,f6f5af4a2fdc291a,308899e8717f82d0c86da209a3046228,4adcd2139621b1ef,2019073019145210900000005,1564521363,1567123200,7,0,0,,0,0,None,None
6,7,ec2487c550e2bfb3,0e22c3c2851a573b46884c5ae02246e0,4adcd2139621b1ef,2019080215534121900000026,1564768494,1567382400,7,0,0,,0,0,None,None
7,8,ec2487c550e2bfb3,bf1b769483c21197c9f98ef903bfabe7,4adcd2139621b1ef,2019080608530662400000026,1565088834,1567728000,7,0,0,,0,0,None,None
8,9,0a62b2fe54817e50,a4697c37c937b8f387d67a5db23d2244,4adcd2139621b1ef,2019081403422789100001487,1565725388,1568332800,7,0,0,,0,0,None,None
9,10,0a62b2fe54817e50,32b128be1c170bf86b666445de3b0d88,4adcd2139621b1ef,2019081407172189500001487,1565738293,1568332800,7,0,0,,0,0,None,None

--- 关键字段值分布 ---

  [status] 值分布 (top 20):

   status     cnt
0       0  137690
1       1   88463

  [status_msg] 值分布 (top 20):

                          status_msg     cnt
0                                     225806
1  orderVerification check PayDenied     347

In [12]:
# Nooie: order 表深入探索
print('=== Nooie order.status 分布 ===')
display(db.query_df('SELECT status, COUNT(*) as cnt FROM `order` GROUP BY status ORDER BY cnt DESC'))

print('\n=== Nooie order.description 分布 (top 30) ===')
display(db.query_df('SELECT description, COUNT(*) as cnt FROM `order` GROUP BY description ORDER BY cnt DESC LIMIT 30'))

print('\n=== Nooie order.product_id 分布 (top 20) ===')
display(db.query_df('SELECT product_id, COUNT(*) as cnt FROM `order` GROUP BY product_id ORDER BY cnt DESC LIMIT 20'))

=== Nooie order.status 分布 ===

   status     cnt
0       1  222760
1       0   27376
2       6    1747
3       5     436
4       2      78
5       4       1

=== Nooie order.description 分布 (top 30) ===

                                          description     cnt
0                                                      150892
1       14 days Video History Event Recording Monthly   29100
2          3 days Video History CVR Recording Monthly   24036
3       30 days Video History Event Recording Monthly    7960
4           3 days Video History CVR Recording Annual    7515
5          7 days video history CVR recording monthly    6201
6                                       Trial: 14 DAY    5542
7        14 days Video History Event Recording Annual    5411
8   30 days video history event recording monthly pro    3913
9        30 days Video History Event Recording Annual    1784
10    14 days video history CVR recording monthly pro    1493
11                                  Promotion: 14 DAY    1481
12        14 days video history CVR recording monthly    1140
13                                                  0     677
14   30 days video history event recording Annual pro     671
15                               7-Day EVENT PLAYBACK     649
16                               Enable cloud storage     577
17                              14-Day EVENT PLAYBACK     422
18          7 days video history CVR recording annual     416
19                                     3-Day PLAYBACK     309
20                                     7-Day PLAYBACK     229
21                    后台: weixiaobao@apemans.com 指定开通     201
22     14 days video history CVR recording annual pro     142
23                       后台: lihuan@apemans.com  指定开通     141
24                                         后台:97 指定开通     124
25                      后台: sunlijun@apemans.com 指定开通     119
26         14 days video history CVR recording annual     107
27                  14-Day EVENT PLAYBACK Yearly Plan     106
28                                    3-Day  PLAYBACK     105
29                   7-Day EVENT Playback Yearly Plan      86

=== Nooie order.product_id 分布 (top 20) ===

                          product_id    cnt
0   93cdb3d2daf9311960e6c3eef2b7df59  73680
1   1aa8342b9e834a3230f909ab74f3b289  24059
2   7fbeed7fd22f11eaa280067a3e6cf430  19647
3   e0b1a2094ff811eb99f5067a3e6cf430  19322
4   3f30783cd22f11eaa280067a3e6cf430  16169
5   4d543ceca28112ac6528d33f999e0658  12988
6   347dec49e3fe0d98c5ea7a7804c78535  11281
7   dbeece497081cfdbc997c215bd3737c9   8989
8   bf227e3fa29aca05979bfc36e28f5144   8167
9   a5df0684d21b11eaa280067a3e6cf430   7567
10  cb6606e090c3c4991bb0e97d057d231c   7521
11  29457551e2aca8a8461c4e68e4ab99a1   5782
12  9f54a13fb8db4243580540ee4eab98bb   5345
13  0f8e4e48b4fb0218d48d182db63b499d   4273
14  d3bc3aaab156aa00bd8b3a74fa0e3211   3734
15  64a76ad27a956fb98b68bfa8746eecc0   3733
16  00f05a20d22e11eaa280067a3e6cf430   1770
17  2a7c0b37d22e11eaa280067a3e6cf430   1688
18  71bed2434ff911eb99f5067a3e6cf430   1571
19  2d4ae7054ff911eb99f5067a3e6cf430   1551

In [13]:
# Nooie: order_amount_info 金额统计
print('=== Nooie order_amount_info 金额统计 ===')
display(db.query_df("""
    SELECT 
           COUNT(*) as cnt,
           ROUND(AVG(amount_cny), 2) as avg_amount_cny,
           ROUND(MIN(amount_cny), 2) as min_amount_cny,
           ROUND(MAX(amount_cny), 2) as max_amount_cny,
           ROUND(AVG(transaction_fee_cny), 2) as avg_fee_cny
    FROM order_amount_info
    WHERE amount_cny > 0
"""))

=== Nooie order_amount_info 金额统计 ===

      cnt  avg_amount_cny  min_amount_cny  max_amount_cny  avg_fee_cny
0  102766           54.15             6.5         1118.35          5.4

### 3.1 Nooie - 表关联关系验证

In [14]:
# Nooie 关联验证 (使用子查询避免全表JOIN)
total = db.query_df("SELECT COUNT(*) as cnt FROM `order`")['cnt'].iloc[0]

print('=== Nooie order → subscribe 关联 ===')
matched = db.query_df("SELECT COUNT(*) as cnt FROM `order` o WHERE EXISTS (SELECT 1 FROM subscribe s WHERE s.subscribe_id = o.subscribe_id)")['cnt'].iloc[0]
print(f"  total_orders: {total:,}, matched_subscribe: {matched:,}, no_subscribe: {total-matched:,}")

print('\n=== Nooie order → set_meal 关联 ===')
matched = db.query_df("SELECT COUNT(*) as cnt FROM `order` o WHERE EXISTS (SELECT 1 FROM set_meal sm WHERE sm.code = o.product_id)")['cnt'].iloc[0]
print(f"  total_orders: {total:,}, matched_meal: {matched:,}, no_meal: {total-matched:,}")

print('\n=== Nooie order → order_amount_info 关联 ===')
matched = db.query_df("SELECT COUNT(*) as cnt FROM `order` o WHERE EXISTS (SELECT 1 FROM order_amount_info oai WHERE oai.order_int_id = o.id)")['cnt'].iloc[0]
print(f"  total_orders: {total:,}, has_amount: {matched:,}, no_amount: {total-matched:,}")

print('\n=== Nooie order → cloud_info 关联 ===')
matched = db.query_df("SELECT COUNT(*) as cnt FROM `order` o WHERE EXISTS (SELECT 1 FROM cloud_info ci WHERE ci.order_id = o.order_id)")['cnt'].iloc[0]
print(f"  total_orders: {total:,}, has_cloud: {matched:,}, no_cloud: {total-matched:,}")

=== Nooie order → subscribe 关联 ===

  total_orders: 252,398, matched_subscribe: 205,656, no_subscribe: 46,742

=== Nooie order → set_meal 关联 ===

  total_orders: 252,398, matched_meal: 252,398, no_meal: 0

=== Nooie order → order_amount_info 关联 ===

  total_orders: 252,398, has_amount: 108,450, no_amount: 143,948

=== Nooie order → cloud_info 关联 ===

  total_orders: 252,398, has_cloud: 221,595, no_cloud: 30,803

## 4. 数据量汇总对比

In [15]:
summary = []
for table in ORDER_TABLES:
    display_name = table.strip('`')
    summary.append({
        '表': display_name,
        'OSAIO': f"{osaio_counts.get(display_name, 'N/A'):,}" if isinstance(osaio_counts.get(display_name), int) else 'N/A',
        'Nooie': f"{nooie_counts.get(display_name, 'N/A'):,}" if isinstance(nooie_counts.get(display_name), int) else 'N/A',
    })

summary_df = pd.DataFrame(summary)
print('=== 订单相关表数据量汇总 ===')
display(summary_df)

=== 订单相关表数据量汇总 ===

                   表 OSAIO Nooie
0              order   N/A   N/A
1          subscribe   N/A   N/A
2           set_meal   N/A   N/A
3  order_amount_info   N/A   N/A
4         cloud_info   N/A   N/A

In [16]:
db.close()
print('连接已关闭')

连接已关闭